body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0;
}

#header {
    width: 100%;
    background-color:gray;
    padding: 10px;
    margin-bottom: 20px;
}

.headerText {
    color: white;
    text-align: center;
    background-color: gray;
}

.cardMargin {
    margin-top: 20px;
}

.sidebar {
    background-color: lightgray;
}

.btnBG {
    background-color: white;
}

.savedRecipes {
    text-align: center;
}

#listImage {
    width: 100%;
}

.mealList {
    align-items: center;
}

.mealItem {
    margin-bottom: 20px;
    width: 50%;
    padding: 0 auto;
}