body {
    margin: 0;
    padding: 0;
        /* background-color: rgb(1, 41, 22); */
}

.container {
    margin: 0 auto;
    padding: 0;
}

#header {
    width: 100%;
    background-color:gray;
    padding: 10px;
    margin-bottom: 20px;
}

.headerText {
    color: white;
    text-align: center;
    background-color: gray;
        /* background-color: rgb(97, 182, 72); */
}

.cardMargin {
    margin-top: 20px;
}

.sidebar {
    background-color: lightgray;
}

.btnBG {
    background-color: white;
}

.savedRecipes {
    text-align: center;
}

#listImage {
    width: 100%;
}

.mealList {
    align-items: center;
}

.mealItem {
    margin-bottom: 20px;
    width: 50%;
    padding: 0 auto;
}

.drinkList {
    padding: 0 auto;
}

.drinkItem {
    margin-bottom: 20px;
    width: 50%;
    padding: 0 auto;
}
.search-bg {
    /* background-color: rgb(97, 182, 72); */
}

.top-links {
    /* color: rgb(243, 211, 107); */
}

.card-title {
    /* color: rgb(243, 211, 107); */
}

* {
        /* yellow */
    /* background-color: rgb(243, 211, 107); */

        /* dark blue */
    /* background-color: rgb(2, 21, 58); */ 

        /* dark green */
    /* background-color: rgb(1, 41, 22); */

        /* light green */
    /* background-color: rgb(97, 182, 72); */

        /* red */
    /* background-color: rgb(230, 25, 25); */
}