body {
    margin: 0;
    padding: 0;
        /* background-color: rgb(1, 41, 22); */
}

.container {
    margin: 0 auto;
    padding: 0;
    z-index: 1
}

#main {
    margin-top: 150px;
}

header {
    width: 100%;
    background-color:gray;
    padding-top: 10px;
    overflow: hidden;
    position: fixed;
    top: 0;
    margin-bottom: 20px;
    display: block;
    z-index: 2;
}

.headerText {
    color: white;
    text-align: center;
    background-color: gray;
        /* background-color: rgb(97, 182, 72); */
}

ol {
    justify-content: center;
}

.cardMargin {
    margin-top: 20px;
}

.sidebar {
    background-color: lightgray;
}

.btnBG {
    background-color: white;
}

#savedResults {
    text-align: center;
}

#listImage {
    width: 100%;
}

.mealList {
    align-items: center;
}

.mealItem {
    margin-bottom: 20px;
    width: 50%;
    padding: 0 auto;
    text-align: center;
}

.imgWrap {
    position: relative;
}

.saveBtnFood {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background-color: rgb(228, 127, 144);
}

.saveBtnFood:hover {
    color: white;
    background-color: rgb(192, 86, 104);
}

.clickedBtn {
    color: white;
    background-color: rgb(162, 76, 212);
}

.clickedBtn:hover {
    color: white;
    background-color: rgb(86, 5, 133);
}

.savedRecipe {
    color: white;
    background-color: rgb(0, 91, 128);
    margin-bottom: 10px;
}

.drinkList {
    align-items: center;
}

.drinkItem {
    margin-bottom: 20px;
    width: 50%;
    padding: 0 auto;
    text-align: center;
}

.movieCard {
    text-align: center;
}

.search-bg {
    /* background-color: rgb(97, 182, 72); */
}

.top-links {
    /* color: rgb(243, 211, 107); */
}

.card-title {
    /* color: rgb(243, 211, 107); */
}

.clear-section {
    margin-top: 10px;
}

* {
        /* yellow */
    /* background-color: rgb(243, 211, 107); */

        /* dark blue */
    /* background-color: rgb(2, 21, 58); */ 

        /* dark green */
    /* background-color: rgb(1, 41, 22); */

        /* light green */
    /* background-color: rgb(97, 182, 72); */

        /* red */
    /* background-color: rgb(230, 25, 25); */
}

#randomMovieBtn {
    margin-bottom: 10px;
}

